ion-content {
  --background: black;
  width: 100%;
  height: 100%;
}
.mainDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.toolBarDiv {
  width: 100%;
  height: 7%;
  background-color: rgb(59, 59, 59);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  .toolBarimg {
    margin-right: 2%;
    width: 10%;
  }
  .toolbarHeading {
    color: cadetblue;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
.mainChatDiv {
  width: 100%;
  height: 100%;
  display: flex;

  position: absolute;
  margin-top: 15%;
  flex-direction: column;
  margin-bottom: 15%;
  .chatMessages {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-bottom: 30%;

    .otheruserMessaged {
      // background-color: blue;
      align-items: flex-start;
      //  padding: 14px;
      color: black;
      display: flex;
      justify-content: flex-start;
      margin-left: 5%;
      //border-radius: 25px;
      width: 100%;
      span {
        color: black;
        background-color: white;
        width: 80%;
        height: fit-content;
        border-radius: 10px;
        padding: 14px;
      }
    }
    .ourUserMessaged {
      // background-color: blue;
      align-items: flex-start;
      //  padding: 14px;
      color: white;
      margin-right: 5%;
      display: flex;
      justify-content: flex-end;
      //border-radius: 10px;
      width: 100%;
      span {
        background-color: rgb(224, 1, 213, 46%);
        width: 80%;
        height: fit-content;
        border-radius: 10px;
        padding: 14px;
      }
    }
  }
  .chatMessageInput {
    position: fixed;
    bottom: 0px;
    width: 100%;

    ion-item {
      margin: 0px !important;
      padding: 0px !important;
      --background: black;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .inputBar {
        background-color: rgb(189, 185, 180);
        width: 100%;
        border-radius: 10px;
      }
      .ion-icon {
        font-size: 50px;
        margin-left: 1%;
      }
    }
  }
}
ion-avatar {
  height: 50px;
  width: 50px;
}

p {
  margin-top: 0 !important;
}
