<ion-content>
  <div class="toolBarDiv">
    <section class="toolbarHeading">
      <ion-img src="assets/images/CHAT.png" class="toolBarimg"></ion-img>
      <span>Chat Room</span>
    </section>
  </div>
  <div class="mainChatDiv">
    <section class="chatMessages">
      <div *ngFor="let chatMessages of chats">
        <section [class]="chatMessages.name === user? 'ourUserMessaged': 'otheruserMessaged'">
         <span style="color: white;"> {{chatMessages.message}} </span>
        </section>

      </div>
    </section>
    <section class="chatMessageInput">
      <ion-item>
        <ion-input class="inputBar" placeholder="Message...."></ion-input>

          <ion-icon name="chevron-forward-circle" color="primary" class="ion-icon"> </ion-icon>
      </ion-item>
    </section>
  </div>
</ion-content>
