<ion-content>
  <div class="upperDiv">
    <section class="headingSection">
      <ion-img src="/assets/images/CHAT.png" class="img"></ion-img>
      <section>
        <section class="imgHeading">
          <span> Lets Chat... </span>
        </section>
      </section>
    </section>
  </div>
  <div class="cardDiv">
    <ion-card class="card">
      <div class="cardHeadingDiv">
        <span>Nobody likes anonymous messages!!!</span>
      </div>
      <!-- <div class="nameHeadingDiv">
        <span>Enter Your Name</span>
      </div> -->
      <div class="inputDiv">
        <ion-item lines="full">
          <ion-label position="floating" style="color: antiquewhite"
            >Enter your Name</ion-label
          >
          <ion-input class="inputBar" [(ngModel)]="UserName"></ion-input>
        </ion-item>
      </div>
      <!-- <div class="hrLineDiv">
        <hr class="hrLine">
      </div> -->
      <div class="buttonDiv">
        <ion-button
          color="primary"
          [disabled]="UserName === '' "
          (click)="onSubmit()"
          >Chat Now...</ion-button
        >
      </div>
    </ion-card>
  </div>
</ion-content>
